* {
  font-family: "Raleway", serif;
}

.heading {
  font-family: "Cormorant Garamond", serif;
}

.footer-section {
  background: url(./assets/footer.jpeg) no-repeat;
  background-size: cover;
  background-position: 67% 37%;
  height: 100vh;
  position: relative;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #af7e61;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Height of the overlay */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  z-index: 2;
}

#hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

#hamburger.active span:nth-child(2) {
  opacity: 0;
}

#hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

#mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  border-radius: 20px;
  z-index: 3;
  background: #e9d1c4;
  transform: translateY(-100%);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
}

#mobile-nav.active {
  transform: translateY(-30%);
  transform: translateX(-30%);
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 160%; /* Aspect ratio (height/width) of the iframe */
}

/* Make the iframe responsive */
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.bento {
  width: 100%;
  columns: 300px;
}

.bento div img {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
}

.guestbook-section {
  background: linear-gradient(to bottom, #ffffff, #f4e2d6);
  padding: 3rem 1rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.guestbook-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.guestbook-subtitle {
  font-size: 1.2rem;
  color: #6c757d; /* Muted gray */
  margin-bottom: 2rem;
}

.guestbook-qrcode img {
  width: 150px; /* Adjust size */
  height: 150px;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem; /* Slightly rounded edges */
  transition: transform 0.3s ease-in-out;
}

.guestbook-qrcode img:hover {
  transform: scale(1.1); /* Subtle zoom effect */
}

.guestbook-button {
  display: inline-block;
  padding: 0.75rem 2rem;
  background: #af7e60; /* Rose background */
  color: #fff; /* White text */
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 2rem; /* Pill-shaped button */
  /* box-shadow: 0 4px 6px rgba(230, 57, 70, 0.3); */
  transition: all 0.3s ease-in-out;
}

.guestbook-button:hover {
  background: #af7e60; /* Darker rose for hover */
  box-shadow: 0 6px 10px #deb49a;
  transform: translateY(-3px); /* Lift effect */
}

.guestbook-section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.guestbook-section.visible {
  opacity: 1;
  transform: translateY(0);
}

.reveal {
  opacity: 0;
  transform: translateY(50px) scale(0.9);
  transition: all 0.8s ease-out;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}

@media screen and (max-width: 767px) {
  .footer-section {
    background: url(./assets/footer.jpeg) no-repeat;
    background-size: cover;
    background-position: 67% 37%;
    height: 100vh;
    position: relative;
  }
}

/* Title */
.gallery-title {
  font-size: 2rem;
  margin: 20px 0;
  color: #444;
}

/* Bento Grid Layout */
.gallery {
  columns: 300px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.gallery-item {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.gallery-item:hover img {
  transform: scale(1.02);
}


/* Responsive Adjustments */
@media (max-width: 768px) {
  .gallery{
    columns: 150px;
  }
}

/* Lightbox */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.lightbox-img {
  max-width: 90%;
  max-height: 80%;
  border-radius: 8px;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}
